body
{
    width: 100px;
    height: 100vh;
    background-image: url(CoffeeBrew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
    text-decoration: dotted;
}